body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;*/
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}


.search div input[type=text] {
    display:block;
    margin-top:5px;
    background-image:url('../images/search-icon-32.png');
    background-position-y:center;
    background-position-x:5px;
    padding-left:35px;
    background-repeat:no-repeat;
}
