@model Gezifoni.ModalLogin.ResetPasswordViewModel

@{
    ViewBag.Title = "Þifre Sýfýrlama";
    Layout = "~/Views/Shared/_ModalLoginLayout.cshtml";
}

<h2>Þifre Sýfýrla</h2>
<hr />

<div class="row">
    @Html.Partial("_ModalLoginResetPasswordPartial", Model)
</div>


<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>