<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net452" />
  <package id="bootstrap" version="3.4.1" targetFramework="net452" />
  <package id="ckeditor-full" version="4.7.0" targetFramework="net452" />
  <package id="CKSource.CKFinder" version="3.4.1" targetFramework="net452" />
  <package id="CKSource.CKFinder.Connector.Config" version="3.4.1" targetFramework="net452" />
  <package id="CKSource.CKFinder.Connector.Core" version="3.4.1" targetFramework="net452" />
  <package id="CKSource.FileSystem" version="1.1.0" targetFramework="net452" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net452" />
  <package id="FakeData" version="1.0.0" targetFramework="net452" />
  <package id="FontAwesome" version="4.7.0" targetFramework="net452" />
  <package id="HintCSS" version="2.0.0" targetFramework="net452" />
  <package id="ImageProcessor" version="2.3.3.0" targetFramework="net452" />
  <package id="jQuery" version="2.2.4" targetFramework="net452" />
  <package id="jQuery.Validation" version="1.8.0.1" targetFramework="net452" />
  <package id="KMBModalLogin" version="2.6.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="Modernizr" version="2.6.2" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
</packages>
